  .hero {
    padding-top: 118px;
    padding-bottom: 118px;

    text-align: center;    

    height: 600px;
    background-color: $second-background-color;

    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }


    
  .overlay {
    max-width: 1600px;  
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: border-box;
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../images/backgrounds/mobile/Header_mobile@1x.jpg);
    
    @media screen and (min-width: 1200px) {
      height: 600px;
    }


    @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {      
        background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../images/backgrounds/mobile/Header_mobile@2x.jpg);
      } 
    
  

  }
   
  
 



  @media screen and (min-width: 768px) {
    .overlay {
      background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../images/backgrounds/tablet/Header_tablet@1x.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
      .overlay {
        background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../images/backgrounds/tablet/Header_tablet@2x.jpg);
        } 
    }
  }

  @media screen and (min-width: 1200px) {
    .overlay {       
      background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../images/backgrounds/desktop/Header_desktop@1x.jpg);    
    }
    @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
      .overlay {
        background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../images/backgrounds/desktop/Header_desktop@2x.jpg);
        } 
    }
  }
    
  .hero__title {


    display: block;
    max-width: 360px;
    
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    

    text-transform: uppercase;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: $second-text-accent-color;
 

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      max-width: 696px;
    }
      
    
  }
    
  .hero__btn {
    margin-top: 0;
    margin-bottom: 0;
    min-width: 198px;
    min-height: 48px;
    padding: 11px 32px;
    
    border-style: none;

    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $second-text-accent-color;
    
    background-color: $accent-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }